nav {
	width: 100%;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #364182;
}

nav ul li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a.dropnya {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 300px;
	vertical-align:middle;
	margin-top:60px;
}


nav li a:hover:not(.active) {
    background-color: #314bea;
}

.active {
    background-color: #4CAF50;
